* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    background-color: #d9d9d9;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( 100px, 1fr, 1fr);
    padding: 0 70px;
}
section {
    background-color:#fff;
    border-radius: 20px;
}
.section-metricas{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section-metricas > div {
    padding: 12px 30px;
    border-radius: 20px;
}

.div-metricas1{
    background: radial-gradient(#ffffff2a,#5383EC);
}

.div-metricas2{
    background: radial-gradient( #ffffff2a,#9C55EC);
}

.div-metricas3{
    background: radial-gradient(#ffffff2a,#111E5F);
}

.div-metricas4{
    background: radial-gradient( #ffffff2a, #F1911E);
}

.section-metricas, .section-vendas{
    grid-column: span 2;
}

.section-satisfacao,.section-engajamento{
    padding: 25px;
}

.section-satisfacao img{
    text-align: center;
}

.section-satisfacao h1 {
    text-align: left;
}

.section-vendas{
    padding: 35px 50px;
}